@import '../Variables/Variable.scss';

.successMsg {
    // border: 2px solid red;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    p{
        line-height: 1.3rem;
        text-align: center;
    }
}
