@import '../Variables/Variable.scss';

.plan-flex {
    // border: 2px solid red;
    border-radius: 10px;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $Magnolia;
    padding: 0.75em;

    P {
        font-weight: 500;
    }
}

.plans {
    // border: 2px solid red;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.plan {
    border: 1px solid $Cool-gray;
    cursor: pointer;
    width: 30%;
    border-radius: 10px;
    padding: 1em 0.5em;
    color: $Cool-gray;
    font-size: 0.875rem;

    p {
        margin: 0.5rem 0;
    }

    img {
        margin-bottom: 2em;
    }

    &:hover,
    &:focus,
    &:active {
        border-color: $Purplish-blue;
    }
}

// background-color: $Magnolia;

.plan-heading {
    color: $Marine-blue;
    font-weight: 500;
    font-size: 1rem;
}

/* ToggleSwitch.css */
.toggle-switch {
    width: 30px;
    aspect-ratio: 2;
    background-color: $Marine-blue;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    margin: 0 1em;
}

.slider {
    width: 11px;
    aspect-ratio: 1;
    background-color: $White;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.3s ease;
}

.on {
    transform: translateX(14px);
}

.off {
    transform: translateX(0);
}

.monthly {
    color: $Purplish-blue;
}

.yearly {
    color: $Cool-gray;
}