@import '../Variables/Variable.scss';

*,
*::before,
*::after {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    background-color: $Magnolia;
}

.hero-container {
    width: 70%;
    height: 97vh;
    margin: 5% auto;
    padding: 1em;
    background-color: $White;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

nav {
    // border: 2px solid red;
    background-image: url('/public/assets/images/bg-sidebar-desktop.svg');
    background-repeat: no-repeat;
    width: 278px;
    height: 100%;
    @include flex();
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 2em;
}

ul {
    // border: 1px solid black;
    list-style: none;
    width: 80%;
}

.nav-item {
    // border: 2px solid yellow;
    width: 100%;
    text-transform: uppercase;
    text-decoration: none;
    @include flex();
    justify-content: flex-start;
    color: $White;
    font-weight: 500;
    padding: 1em 0;
}

.item-number {
    border: 2px solid $White;
    border-radius: 100%;
    padding: 0.5em 0.75em;
    margin-right: 1em;
    color: inherit;
    background-color: transparent;

    &:hover,
    &:focus,
    &:active {
        cursor: pointer;
        border-color: $Pastel-blue;
        background-color: $Pastel-blue;
        color: $Marine-blue;
    }
}

.item-description {
    p {
        font-size: 0.85rem;
        color: $Light-gray;
    }
}