@import '../Variables/Variable.scss';
.prevBtn {
    cursor: pointer;
    border: none;
    outline: transparent;
    box-shadow: none;
    border-radius: 10px;
    font-family: inherit;
    font-weight: 700;
    background-color: transparent;
    color: $Cool-gray;
    padding: 1em;
    position: absolute;
    top: 100%;
    left: 0%;
    transform: translate(0% ,-100%);
    &:hover{
        cursor: pointer;
        color: $Marine-blue;
    }
}