@import '../Variables/Variable.scss';
.nextBtn {
    cursor: pointer;
    border: none;
    outline: transparent;
    box-shadow: none;
    border-radius: 10px;
    width: 22.5%;
    font-family: inherit;
    font-weight: 700;
    background-color: $Marine-blue;
    color: $White;
    padding: 1em;
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-100% ,-100%);
    &:hover{
        cursor: pointer;
        opacity: 0.9;
    }
}